
<main class="main">
  <div class="content">
    <div class="container-fluid">
      <div class="row" style="margin-top: 60px">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
          <p style="font-size: 60px; text-align: center;"><a href="https://t.me/+_UCPcLTxyrc2MmFh" rel="noopener noreferrer" target="_blank">Telegram</a></p>

        </div>
        <div class="col-md-4">
          <p style="font-size: 60px; text-align: center;"><a href="https://twitter.com/LunaOnSolana" rel="noopener noreferrer" target="_blank">Twitter</a></p>
        </div>
        <div class="col-md-2">

        </div>
      </div>
      <div class="row" style="margin-top: 160px">
        <div class="col-md-3">
          
        </div>
        <div class="col-md-6">
          <video width="100%" controls>
            <source src="../assets/signal-2024-03-31-175135_002.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-md-3">
          
        </div>
      </div>
    </div>
  </div>
</main>


<router-outlet />
